@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

html {
    font: 12px/1.5, "Montserrat", sans-serif;
    background-color: white;
}

body {
    background-color: #F6E0B5;
}

figure {
    width: 224px;
    height: 134px;
    border-radius: 6px;
    border: 1px solid black;
    overflow: hidden;
    box-shadow: 5px 10px 32px 2px #373737;
}

figure figcaption {
    display: block;
    color: white;
    background-color: #65535D;
    padding: 6px 6px;
    line-height: 1;
}

.description h4{
    opacity: 0.6;
    padding-bottom: 16px;
}

.svg p {
    opacity: 0.6;
}

.svg svg {
    margin-right: 6px;
    opacity: 0.6;
    height: 14px;
    width: 14px;
    opacity: 0.7;
}