* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color:rgb(238, 238, 238);
    padding: 3em 7em;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

div[class*="div"] {
    width: 200px;
    border: 2px solid black;
    padding: 3px;
    background-color: #fff;
}

.div-left {
    float: left;
    margin-right: 7px;
}

.div-right {
    float: right;
    margin-left: 7px;
}

.page {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
}

header > p {
    font-size: 34px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 0em;
}

header {
    width: 100%;
    padding: 2em 0em;
    border-bottom: 2px solid black;
}

h1, h2, h3, h4 {
    padding-bottom: 1em;
}

blockquote {
    width: 40%;
    float: right;
    margin-left: 0.5em;
    padding-left: 0.6em;
    font-weight: normal;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    border-left: 2px solid #ccc;
}

blockquote p {
    float: right;
}

.main p {
    padding-bottom: 1em;
}

.main {
    flex: 0 0 70%;
}

.aside {
    display: flex;
    flex: 0 0 15%;
    flex-direction: column;
    align-items:start;
}

.aside ul {
    list-style-position: inside;
}

.aside ul li {
    color: rgb(0, 153, 0);
}