* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button, table {
    font: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

ul {
    list-style: none outside;
}

a {
    text-decoration: none;
}

