h1 {
    font-size: 50px;    
}
.first {
        text-decoration: underline;
}
#second {
        font-style: italic;
}
div {
    padding: 2px;
    border: 1px black solid;
    font-family: 'Gill Sans', sans-serif;
}